VITE_SUPABASE_URL=https://frzydyzynsyrtdftowqo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZyenlkeXp5bnN5cnRkZnRvd3FvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDMxNjUxNjEsImV4cCI6MjA1ODc0MTE2MX0.31_iT_UTqtTL1qA1GYSg0qduVyUTOjuZVR-UJJIO3_Q 